<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heart.mapper.InsertLtMapper">
	<update id="saveLT">
		UPDATE "LT_HeartRate"
		SET "LTHeartRate" = #{LTHeartRate , jdbcType=INTEGER},
		"CURRENT DATE" = #{currentDate, jdbcType=DATE}
		WHERE "id" = #{Id, jdbcType=VARCHAR};
	</update>
</mapper>