<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Menu Example</title>
  <!-- top.css を適用 -->
  <link rel="stylesheet" href="./entry2.css">
</head>
<body>
    <div class="menu">
        <div class="title">MENU</div>
        <ul class="nav">
          <li><a href="">YOUR LT PROPERTY</a></li>
          <li><a href="entry2.html"> TUTORIAL</a></li>
          <li><a href="MaxHeartRate.html">MEASUREMENT</a></li>
          <li><a href="colum.html">COLUM</a></li>
        </ul>
    </div>


    <div class ="colum">
    <ul class="columNav">
        <li><a href="informationHeartTraining.html">心拍数トレーニングについて</a></li>
        <li><a href="informationLT.html">LT値とは</a></li>
    </ul>
</body>
</html>
