<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ログイン</title>
	<link rel="stylesheet" href="./login.css">
</head>

<body>

	<!--	メニュー-->
	<div class="menu">
		<div class="title">MENU</div>
		<ul class="nav">
			<li><a th:href="@{/myLT}">YOUR LT PROPERTY</a></li>
			<li><a th:href="@{/entry2}"> TUTORIAL</a></li>
			<li><a th:href="@{/max_heart_rate}">MEASUREMENT</a></li>
			<li><a th:href="@{/colum}">COLUM</a></li>
		</ul>
	</div>

	<!--	ログイン機能-->
	<form th:action="@{/login}" method="POST">
		<div>
			<label for="id">Id(ユーザ登録の際に登録した英数字）：</label>
			<input type="text" id="id" name="id" required>
		</div>
		<div>
			<label for="password">パスワード：</label>
			<input type="password" id="password" name="password" required>
		</div>
		<div>
			<button type="submit">ログイン</button>
		</div>

		<a th:href="@{entry}">新規登録はこちらから</a>
	</form>
</body>

</html>