<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>list</title>
	<!-- lt_list.css を適用 -->
	<link rel="stylesheet" href="./lt_list.css">
</head>

<body>
	<div class="menu">
		<div class="title">MENU</div>
		<ul class="nav">
			<li><a th:href="@{/myLT}">YOUR LT PROPERTY</a></li>
			<li><a th:href="@{/entry2}"> TUTORIAL</a></li>
			<li><a th:href="@{/max_heart_rate}">MEASUREMENT</a></li>
			<li><a th:href="@{/colum}">COLUM</a></li>
		</ul>
	</div>


	<form th:action="@{/lt_login}" method="POST">
		<div>
			<label for="group">グループ名：</label>
			<input type="text" id="username" name="username" required>
		</div>
		<div>
			<label for="groupassword">グループパスワード：</label>
			<input type="password" id="password" name="password" required>
		</div>
		<div>
			<button type="submit">グループリストを表示する</button>
		</div>

	</form>




</body>

</html>