<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Menu Example</title>
	<!-- top.css を適用 -->
	<link rel="stylesheet" href="./lt_list.css">
</head>

<body>
	<div class="menu">
		<div class="title">MENU</div>
		<ul class="nav">
			<li><a href="">YOUR LT PROPERTY</a></li>
			<li><a href="entry2.html"> TUTORIAL</a></li>
			<li><a href="MaxHeartRate.html">MEASUREMENT</a></li>
			<li><a href="colum.html">COLUM</a></li>
		</ul>
	</div>


	<!-- データが存在するとき <ul> を表示 -->
	<ul th:if="${data != null and data.size() >0}">
		<!-- dataを1つずつ取り出し、繰り返しitemとしてとして処理して <li> を生成 -->
		<li th:each="item : ${data}" th:text="${item}"></li>
	</ul>


</body>

</html>