<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Menu Example</title>
	<!--	 top.css を適用 -->
	<link rel="stylesheet" href="./entry2.css">
</head>

<body>
	<div class="menu">
		<div class="title">MENU</div>
		<ul class="nav">
			<li><a th:href="@{/myLT}">YOUR LT PROPERTY</a></li>
			<li><a th:href="@{/entry2}"> TUTORIAL</a></li>
			<li><a th:href="@{/max_heart_rate}">MEASUREMENT</a></li>
			<li><a th:href="@{/colum}">COLUM</a></li>
		</ul>
	</div>



	<div class="information">
		<p><strong>心拍数とLTの関係について</strong></p>
			
		通常ＬＴ値を計測するためには血中乳酸測定器が使われます。
		しかしこの血中乳酸測定器、定価６５０００円と非常に高額。
		<br>そこで心拍数の出番です。
		<br>運動すると心拍数は上がります。運動を停止すると、当然心拍数は下がります。
		<br>例えば８００ｍ走を少しずつ速度を挙げて何本か走り、心拍数がどれくらいの時間で平常時に落ちるか計測します。
		<br>最初はスーッと下がっていた心拍数が、ある強度で中々落ちなくなってきます。
		<br>ということは、この辺りで、乳酸が出始め、処理のために時間がかかっているということになります。
		<br>ここがＬＴの強度なのかと推測できるのです。
		<br>
		<br>
		<br>
		<p><strong>一緒に測ってみよう!</strong></p>
		それでは、実際にMESUREMENTから入力してLT値がどこか探してみましょう。
		まずは、最大心拍数（ゾーン）を調べます。
		<br>調べ方は一番簡単な走りによる測り方をお勧めします。４００ｍ～８００ｍを全力で一本走ってみましょう。
		<br>途中でスピードを緩めないのがコツです。
		
		
		<br>私はの最大心拍数は１８３です。これを入力します。
		入力されたら<strong>「５３%の心拍数（あなたの平常時の心拍数）」「指定心拍数」</strong>が自動で入力されます。
		<br>
		<br>
		<img  src="/image/ltMesurement1.png" alt = "スクリーンショット">
		<br>
		<br>		
		<br>次は<strong>「指定心拍数」</strong>に自分の心拍数をもっていきます。
		<br>最初は走りで持って行ってもいいですが、慣れたら自分がおこなっている競技の運動を通じて持っていくのをお勧めします。
		<br>「指定心拍数」までもっていくことができたら、休憩します。
		<br>その時<strong>「５３%の心拍数（あなたの平常時の心拍数）」</strong>まで戻る時間を測りましょう。
		<br>私は「１１５」の心拍数から「９６」の心拍数に戻るまで「２６秒」かかったのでこれを入力します。
		<br>
		<br>
	
		<img  src="/image/ltMesurement2.png" alt = "スクリーンショット">
		<br>
		<br>
		後は順におなじように測っていきます。
		<br>
		<br>
		<br>
		<br>
		<img  src="/image/ltMesurement3.png" alt = "スクリーンショット">
		<br>
		<br>
		完了したらグラフが自動で入力されます。
		<br>あなたが平常の心拍数に戻る時間を近似直線を使って分かりやすくしています。
		<br>そうすると、この直線の傾きが急になっているところがあります。
		<br>ここが乳酸が出始め、心拍数が戻りにくくなっている値、つまり<strong>「LT値」</strong>です。
		<br>私の場合だと「１４３回」くらいですね。赤い丸が囲ってあるところです。
		<br>以上がＬＴ値の測り方になります。
		<br>
		<br>
		<img  src="/image/ltMesurement4.png" alt = "スクリーンショット">
		

</body>



</html>