<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Menu Example</title>
	<!-- top.css を適用 -->
	<link rel="stylesheet" href="./myLT.css">
	<script src="./myLT.js" defer></script>
</head>

<body>
	<!-- メニューの表示 -->
	<div class="menu">
		<div class="title">MENU</div>
		<ul class="nav">
			<li><a th:href="@{/myLT}">YOUR LT PROPERTY</a></li>
			<li><a th:href="@{/entry2}"> TUTORIAL</a></li>
			<li><a th:href="@{/max_heart_rate}">MEASUREMENT</a></li>
			<li><a th:href="@{/colum}">COLUM</a></li>
		</ul>
	</div>


	<!-- LT値を表示 -->
	<div class="current LT">
		<p>LT値: <span th:text="${yourLT}"></span></p>
	</div>

	<div id="mask"></div>

	<button id="open">LT値を入力する</button>

	<!-- LT値の入力 -->
	<form th:action="@{/insertLT}" method=POST>

		<div id="insertLT" class="page.active">

			<input type="button" onclick="window.close()" value="×">

			<ul><label for="yourLT">LT値</label>
			</ul><input th:value="${yourLT}" type="number" id="yourLT" name="yourLT">
			<ul><label for="currentDate">計測した日付</label>
			</ul><input th:value="${currentDate}" type="currentDate" id="currentDate" name="currentDate">
			<br>
			<button type="submit">登録する</button>
		</div>
	</form>
</body>

</html>