<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>ユーザー登録</title>
</head>

<body>
	<form th:action="@{/userregistration}" method=post>
		<h2>ユーザ登録</h2>

		<label for="username">氏名（必須）</label>
		<input id="username" type="text" name="username" placeholder="山田　太朗">
		<br>

		<label for="Id">ID（好きな英数字）</label>
		<input id="Id" type="text" name="Id" placeholder="nanashi000">
		<br>

		<label for="password">パスワード（必須）</label>
		<input id="password" type="text" name="password" placeholder="abc012">
		<br>

		<label for="birthday">生年月日（必須）</label>
		<input id="birthday" type="date" name="birthday">
		<br>

		<label for="group">団体名 ※団体に所属している者のデータを閲覧するときに必要になります</label>
		<input id="group" type="group" name="group" placeholder="〇〇中学校〇〇部">
		<br>

		<button th:type="submit" onclick="location.href='@{userregistration_completion}'">登録する</button>

	</form>


</body>

</html>